.useful-services-page {
    display: flex;
}

.useful-services-page-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 25px 30px 25px 0px;
}

.useful-services-header-name {
    font-size: 40px;
    font-family: Raleway-Medium;
    color: #3A3A3A;
}

.useful-services-page-path {
    display: flex;
    flex-direction: row;
    font-size: 14px;
    font-family: Roboto-Regular;
}

.useful-services-page-path-main {
    color: #3A3A3A;
    cursor: pointer;
}

.useful-services-page-path-useful-services {
    color: #375FFF;
    cursor: default;
}

.useful-services-page-content {
    width: 80%;
    margin-top: 10px;
}

.useful-services-content {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.pagination-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
    gap: 24px;
}

.pagination-btn {
    cursor: pointer;
    background: none;
    border: none;

    font-size: 18px;
    user-select: none;
}

.useful-services-page .pagination-btn.active-red,
.useful-services-page .pagination-btn:disabled {
    color: #861F41;
}

.pagination-arrow {
    background: none;
    border: none;
    cursor: pointer;
}

.pagination-arrow:disabled {
    background: #f0f0f0;
    color: #bdbdbd;
}

.pagination-pages {
    display: flex;
    flex-direction: row;
    gap: 16px;
}

.pagination-dots {
    padding: 0 8px;
    font-size: 18px;
    user-select: none;
}