.redirection-button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    padding: 6px 12px;
    border-radius: 8px;
    background-color: #375fff;
    color: #fff;
    width: fit-content;
    cursor: pointer;
}

.redirection-button-text {
    font-size: 14px;
    font-family: Roboto-Regular;
}