@font-face {
    font-family: "Roboto-Regular";
    src: url("../../assets/fonts/Roboto-Regular.ttf");
}

.language-switch {
    position: relative;
    width: 131px;
    height: 24px;
}

.selected-language {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 8px;
    font-size: var(--font-size-md);
    font-family: Roboto-Regular;
    color: var(--color-grey);
    cursor: pointer;
}

.icons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.language-switch-arrow {
    width: 16px;
    height: 8px;
}

.flag {
    border: 0.5px solid rgba(58, 58, 58, 0.17);
}

.language-select {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    font-size: var(--font-size-md);
    font-family: Roboto-Regular;
    color: var(--color-grey);
    background-color: #F9F9F9;
    border-radius: 8px;
    list-style: none;
    padding: 0;
    margin: 0;
    z-index: 100;

    & li {
        cursor: pointer;
        border-bottom: 1px solid #D9D9D9;
    }
    & li:last-child {
        border-bottom: none;
    }
}

.dropdown-language {
    display: flex;
    justify-content: space-between;
    margin-right: 8px;
    margin-top: 10px;
    padding-bottom: 4px;
}

@media only screen and (max-width: 376px) {
    .language-switch {
        position: relative;
        width: 120px;
        height: 24px;
    }
}