.image-crop-modal-content {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.image-crop-modal-upload {
  display: flex;
  flex-direction: column;
  width: 70%;
  justify-content: center;
  align-items: center;
  align-self: center;
  padding: 10px 2px;
  gap: 5px;
}

.crop-container {
  position: relative;
  width: 100%;
  height: 300px;
  background-color: #f0f0f0;
  margin: 0 auto;
}

.select-file-modal-header {
  display: flex;
  font-size: var(--font-size-xl);
  font-family: Raleway-Medium;
  color: var(--color-grey);
  justify-self: center;
}

.select-file-modal-subheader {
  font-size: var(--font-size-md);
  font-family: Raleway-Medium;
  color: var(--color-grey);
}

.crop-controls {
  display: flex;
  flex-direction: column;
}

.crop-controls label {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: var(--font-size-sm);
  font-family: Raleway-Regular;
  color: var(--color-grey);
}

.crop-controls input[type="range"] {
  width: 85%;
}

.modal-buttons {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}