.profile-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 25px 0px;
}

.profile-header-name {
    font-size: 40px;
    font-family: Raleway-Medium;
    color: #3A3A3A;
}

.profile-content {
    display: flex;
    flex-direction: row;
    padding-top: 20px;
    gap: 20px;
}

.profile-activity {
    display: flex;
    flex-direction: column;
}

.profile-activity-username {
    font-size: 32px;
    font-family: Raleway-Medium;
    color: #3A3A3A;
}

@media (max-width: 1200px) {
    .profile-header {
        padding: 20px 10px;
    }
}

@media (max-width: 600px) {
    .app-content {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .profile-content {
        flex-direction: column;
        gap: 10px;
    }

    .profile-activity-navigation {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
}