.event-short-card {
    display: flex;
    flex-direction: row;
    gap: 20px;
    padding: 12px 24px;
    cursor: pointer;
}

.event-short-card-picture {
    display: flex;
    align-items: center;
    img {
        width: 175px;
        border-radius: 8px;
    }
}

.event-short-card-content {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.event-short-card-content-title {
    font-size: var(--font-size-xl);
    font-family: Raleway-Medium;
    color: var(--color-grey);
    font-variant-numeric: lining-nums;
}

.event-short-card-content-info {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.event-short-card-content-info-finished {
    padding: 5px 12px;
    background-color: #46B34A;
    color: #F9F9F9;
    border-radius: 8px;
    width: fit-content;
    font-size: var(--font-size-md);
    font-family: Raleway-SemiBold;
}

.event-short-card-content-info-unit {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.event-short-card-content-info-label {
    font-size: var(--font-size-sm);
    font-family: Raleway-Medium;
    color: var(--color-lgrey);
}

.event-short-card-content-info-text {
    font-size: var(--font-size-md);
    font-family: Raleway-Medium;
    color: var(--color-grey);
    font-variant-numeric: lining-nums;
}