.basic-button {
    width: inherit;
    border: none;
    border-radius: 8px;
    background-color: var(--primary-color);
    cursor: pointer;
    color: white;
    font-size: var(--font-size-md);
    font-family: Roboto-Regular;
    padding: 15px 25px;
    text-transform: uppercase;

    &:hover {
        background-color: #002FEA;
        transition: all 0.3s ease;
    }
    &:active {
        background-color: #204CFF;
        transition: all 0.1s ease;
    }
    &:disabled {
        background-color: #97A9F1;
        cursor: default;
    }
}

.basic-white-button {
    width: inherit;
    border: 2px solid #204CFF;
    border-radius: 8px;
    background-color: white;
    cursor: pointer;
    color: #204CFF;
    font-size: var(--font-size-md);
    font-family: Raleway-Regular;
    padding: 15px 25px;
    text-transform: uppercase;

    &:disabled {
        cursor: not-allowed;
    }
}