.certificate-unit {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: row;
    padding: 8px 0px;
    justify-content: space-between;
    align-items: center;
}

.certificate-unit-content {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.certificate-unit-content-label {
    font-size: var(--font-size-md);
    font-family: Raleway-Medium;
    font-variant-numeric: lining-nums;
    color: var(--color-grey);
    align-content: center;
}

.certificate-unit-content-info {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.certificate-unit-content-info-certificate-type, .certificate-unit-content-info-date,
    .certificate-unit-content-info-receive-type {
        font-size: var(--font-size-sm);
        font-family: Raleway-Medium;
        font-variant-numeric: lining-nums;
        color: var(--color-lgrey);
}

.certificate-unit-buttons-and-status {
    display: flex;
    flex-direction: row;
    gap: 12px;
}

.certificate-unit-buttons {
    display: flex;
    flex-direction: row;
    gap: 12px;
}