.events-page {
    display: flex;
}

.events-page-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 25px 30px 25px 0px;
}

.events-header-name {
    font-size: var(--font-size-xxxxl);
    font-family: Raleway-Medium;
    color: var(--color-grey);
}

.header-right-section {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}

.events-page-path {
    display: flex;
    flex-direction: row;
    font-size: var(--font-size-sm);
    font-family: Roboto-Regular;
}

.events-page-path-main {
    color: var(--primary-color);
    cursor: pointer;
}

.events-page-content {
    margin-top: 10px;
}

.events-content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    width: 100%;
}

.events-page .pagination-btn.active-blue,
.events-page .pagination-btn:disabled {
    color: var(--primary-color);
}

.events-page-search-container {
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding: 28px 32px;
}

.events-page-search-container-label {
    font-size: var(--font-size-xl);
    font-family: Raleway-Medium;
    color: var(--color-grey);
}

.events-page-search-container-name {
    display: flex;
    flex-direction: row;
    gap: 8px;

    .basic-button {
        width: 20%;
    }
}

.events-page-search-container-date {
    width: 32%;
}

@media (max-width: 900px) {
    .events-content {
        .event-short-card {
            flex-direction: column;

            .event-short-card-picture {
                justify-content: center;
            }
        }
    }

    .app-content {
        padding-left: 30px;
    }
}

@media (max-width: 600px) {
    .events-page-search-container-name {
        .basic-button {
            width: 100%;
        }
    }

    .events-page-search-container-date {
        width: 100%;
    }

    .events-content {
        display: flex;
        flex-direction: column;
    }

    .event-short-card-content-info {
        flex-direction: row!important;
    }

    .event-short-card-content-info-finished {
        height: fit-content;
    }
}

@media (max-width: 375px) {
    .events-page-search-container-name {
        flex-direction: column;
    }
}