.personality-unit {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.personality-unit-label {
    font-size: var(--font-size-sm);
    font-family: Raleway-Medium;
    color: var(--color-lgrey);
    font-variant-numeric: lining-nums;
}

.personality-unit-text {
    font-size: var(--font-size-md);
    font-family: Raleway-Medium;
    color: var(--color-grey);
    font-variant-numeric: lining-nums;
}