@font-face {
    font-family: "Raleway-Regular";
    src: url("../../assets/fonts/Raleway-Regular.ttf");
}

.body-style {
    overflow: hidden;
}

.login-wrapper {
    display: flex; 
    align-items: center;   
    justify-content: center; 
    height: 100vh;
}

.login {
    display: flex;
    flex-direction: row;
    gap: 23px;
    justify-content: center;
}

.login-component {
    display: flex;
    flex-direction: column;
    justify-self: center;
    gap: 48px;
    width: 562px;
    padding: 45px 30px;
}

.login-component-header {
    font-weight: 500;
    font-size: 40px;
    font-family: Raleway-Regular;
    color: #3A3A3A;
    align-self: center;
}

.inputs {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.buttons {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.login-component-form {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.remember-me-container {
    display: flex;
    flex-direction: row;
    gap: 16px;
    align-items: center;
}

.remember-me-text {
    font-weight: 500;
    font-size: 14px;
    font-family: Raleway-Regular;
    color: #949494;
}

.language-switch {
    position: absolute;
    top: 40px;
    right: 80px;
}