.employee-post-exp-card {
    display: flex;
    flex-direction: column;
    gap: 12px;
    width: 700px;
}

.employee-post-exp-card-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 12px 0;
    cursor: pointer;
}

.employee-post-exp-card-header-text {
    font-size: var(--font-size-md);
    font-family: Roboto-Medium;
    color: var(--color-grey);
}

.employee-post-exp-card-info {
    max-height: 500px;
    overflow: hidden;
    transition: max-height 0.2s ease;
}

.employee-post-exp-card-info.open {
    max-height: 500px;
}

.employee-post-exp-card-info.closed {
    max-height: 0;
}

.employee-post-exp-card-info-row {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}

@media (max-width: 900px) {
    .employee-post-exp-card {
        width: 400px;
    }
}