.profile-activity-nagivation-button {
    font-size: 20px;
    font-family: Raleway-Medium;
    color: #666666;
    padding: 20px 8px;
    cursor: pointer;
    width: fit-content;
}

.profile-activity-nagivation-button.active {
    color: #375FFF;
    border-bottom: 2px solid #375FFF;
}