.profile-activity-nagivation-button {
    font-size: var(--font-size-xl);
    font-family: Raleway-Medium;
    color: var(--color-lgrey);
    padding: 20px 8px;
    cursor: pointer;
    width: fit-content;
}

.profile-activity-nagivation-button.active {
    color: var(--primary-color);
    border-bottom: 2px solid var(--primary-color);
}