.certificates-page {
    display: flex;
}

.certificates-page-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 25px 30px 25px 0px;
}

.certificates-header-name {
    font-size: var(--font-size-xxxxl);
    font-family: Raleway-Medium;
    color: var(--color-grey);
}

.certificates-page-path {
    display: flex;
    flex-direction: row;
    font-family: Roboto-Regular;
    font-size: var(--font-size-sm);
}

.certificates-page-path-main {
    color: var(--color-grey);
    cursor: pointer;
}

.certificates-page-path-certificate-order {
    color: var(--primary-color);
    cursor: default;
}

.certificates-subheader-name {
    font-size: var(--font-size-xxxl);
    font-family: Raleway-Medium;
    color: var(--color-grey);
}

.certificates-user-role-navigation {
    padding: 20px 25px;
}

.certificates-user-role-navigation-item {
    padding: 8px 12px;
    font-size: var(--font-size-md);
    font-family: Raleway-Medium;
    align-items: center;
    border-bottom: 1px solid #D9D9D9;
    cursor: pointer;
    &.active {
        border-left: 2px solid var(--primary-color);;
        color: var(--primary-color);
    }
}

.certificates-page-content {
    display: flex;
    flex-direction: row;
    margin-top: 24px;
}

.certificates-info {
    width: 80%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.certificates-education-entry-navigation,
    .certificates-employee-post-navigation {
    display: flex;
    flex-direction: row;
    gap: 16px;
}

.certificates-education-entry-navigation-item,
    .certificates-employee-post-navigation-item {
    display: flex;
    flex-direction: column;
    padding: 20px 8px;
    cursor: pointer;

    &.active {
        span {
            color: var(--primary-color);
        }
        border-bottom: 2px solid var(--primary-color);
    }
}

.certificates-education-entry-navigation-item-faculty,
    .certificates-employee-post-navigation-item-postName {
    font-size: var(--font-size-xl);
    font-family: Raleway-Medium;
    color: var(--color-lgrey);
}

.certificates-education-entry-navigation-item-education-level,
    .certificates-education-entry-navigation-item-status,
        .certificates-employee-post-navigation-item-employmentType {
            font-size: var(--font-size-md);
        font-family: Raleway-Medium;
        color: var(--color-lgrey);
}

.certificates-education-entry-info,
    .certificates-employee-post-info {
    max-height: 500px;
}

.certificates-education-entry-info-row,
    .certificates-employee-post-info-row {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}

.certificates-order-container {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.certificates-order-container-title {
    font-size: var(--font-size-xl);
    font-family: Raleway-Medium;
    color: var(--color-grey);
}

.certificates-order-container-interactive {
    display: flex;
    flex-direction: row;
    gap: 16px;
}

@media (max-width: 900px) {
    .certificates-order-container-interactive {
        flex-direction: column;
    }
}

@media (max-width: 600px) {
    .certificates-page-content {
        flex-direction: column;
    }
    
}