.body-style {
    overflow: hidden;
}

.status-code {
    position: relative;
    font-size: 380px;
    font-weight: 400;
    font-family: Roboto-Regular;
    color: #375FFF;
    left: 50px;
    line-height: 1;
}

.status-message-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 778px;
    position: relative;
    left: 50px;
}

.status-messages {
    display: flex;
    flex-direction: column;
    width: 417px;
    gap: 12px;
}

.status-message {
    font-size: 40px;
    font-weight: 500;
    font-family: Raleway-Regular;
    color: #3A3A3A;
    line-height: 1;
}

.go-home-button {
    position: absolute;
    bottom: 0;
    right: 0;
}

.description-container {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 28px;
    left: 50px;
    width: 465px;
    margin-top: 50px;
}

.what-happened {
    font-size: 20px;
    font-weight: 500;
    font-family: Raleway-Regular;
    color: #3A3A3A;
}

.description {
    font-size: 16px;
    font-weight: 500;
    font-family: Raleway-Regular;
    color: #3A3A3A;
}

.error-line-1 {
    position: absolute;
    top: 0px;
    left: 150px;
    z-index: -2;
}

.error-line-2 {
    position: absolute;
    top: -250px;
    left: 300px;
    z-index: -1;
}
